# Update variables
export PATH=$PATH:$PWD/env/bin:$PWD/node_modules/.bin
export EDITOR=vim

# Check if nodeenv is installed
if ! command -v nodeenv &> /dev/null
then
	echo required program nodeenv not found
	echo install nodeenv to proceed
	exit 1
fi	

exit 0
