# Update variables
export PATH=$PATH:$PWD/env/bin:$PWD/node_modules/.bin
export EDITOR=vim

# Check if nodeenv is installed
if ! command -v nodeenv &> /dev/null
then
	echo required program nodeenv not found
	echo install nodeenv to proceed
	exit 1
fi

# Create env directory if it doesn't exist
if [ ! -d env ]; then
	echo env directory not found
	nodeenv env
else
	export PATH=$PATH:$PWD/env/bin
fi

# Check if nodeenv is installed
if ! command -v npm &> /dev/null
then
	echo required program npm not found
	echo install npm to proceed
	exit 1
fi

if [ ! -d node_modules ]; then
	npm update
fi

exit 0
